{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "dashboard/_toolbar.html" %}
{% include "dashboard/_stats.html" %}
{% include "dashboard/_contract_filter.html" %}
{% include "dashboard/_project_filter.html" %}
{% include "dashboard/_contracts.html" %}
{% include "dashboard/_projects_table.html" %}
{% include "dashboard/_actors_table.html" %}
{% include "dashboard/_requirements_table.html" %}
{% include "dashboard/_tasks_kanban.html" %}

{% include "dashboard/modals/_new_contract.html" %}
{% include "dashboard/modals/_new_project.html" %}
{% include "dashboard/modals/_new_task.html" %}
{% include "dashboard/modals/_new_requirement.html" %}
{% include "dashboard/modals/_confirm_delete.html" %}
{% include "dashboard/modals/_new_user.html" %}
{% include "dashboard/modals/_new_actor.html" %}

<script src="{% static 'tasktrack/js/dashboard.js' %}?v={% now 'U' %}"></script>
{% endblock %}
