<!-- MODAL: EDITAR ATOR -->
<div class="modal fade" id="modalEditActor" tabindex="-1" aria-labelledby="modalEditActorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" id="formEditActor" action="">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="modalEditActorLabel"><i class="bi bi-pencil me-2"></i>Editar Ator</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Nome (2 a 100 caracteres)</label>
                        <input type="text" name="name" id="editActorName" class="form-control" minlength="2" maxlength="100">
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Descrição (Suporta Markdown)</label>
                        <textarea name="description" id="editActorDescription" class="form-control" style="min-height: 150px; resize: vertical;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </div>
            </div>
        </form>
    </div>
</div>
